.blogs_item {
  border-bottom: 1px solid #efedfd;
}
.blogs_content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-bottom: 4rem;
}

.blogs_cover_photo_box {
}
.blogs_cover_photo {
  border-radius: 8px;
  width: 100%;
}

.author_info_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.author_img_box {
  max-width: 8rem;
  max-height: 8rem;
}
.author_img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.author_name_box {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.author_name {
}
.publish_date,
.read_time_box,
.blogs_type {
  font-size: 2rem;
  font-weight: 600;
  color: #707070;
}
.read_time_box {
  display: flex;
  gap: 1rem;
}
.read_time {
}
.bookmark_btn,.mark_as_read_btn {
  cursor: pointer;
  font-size: 2rem;
  border: 0;
  color: #707070;
  background-color: transparent;
}
.blogs_type {
}
.mark_as_read_btn {
  align-self: flex-start;
  font-weight: 600;
  text-decoration: underline;
  color: #6047EC;
  transition: all 0.3s;
}

.mark_as_read_btn:hover {
  color: #4633ae;
}